# Week 1: Simple Regression

## Training Exercise 1.5

### Questions:

Dataset **TrainExer15** contains the Winning time 100 meter athletics for men and women at Olympic Games 1948-2004.  

    • Year: calendar year of Olympic Game (1948-2004)
    • Game: order number of game (1-15)
    • Winmen: winning time 100 meter athletics for men (in seconds)
    • Winwomen: winning time 100 meter athletics for women (in seconds)

In Lecture 1.5, we applied simple regression for data on winning times on the Olympic 100 meter (athletics). We computed the regression coefficients $a$ and $b$ for two trend models, one with a linear trend and one with a nonlinear trend. 

In a test question, you created forecasts of the winning times for both men and women in 2008 and 2012. Of course, you can also forecast further ahead in the future. In fact, it is even possible to predict when men and women would run equally fast, if the current trends persist.

1. Show that the linear trend model predicts equal winning times at around 2140.
2. Show that the nonlinear trend model predicts equal winning times at around 2192.
3. Show that the linear trend model predicts equal winning times of approximately 8.53 seconds. 
4. Comment on these outcomes and on the underlying regression models.

### Get Data

In [2]:
import pandas as pd

In [3]:
olympic_data = pd.read_csv("./data/TrainExer15.txt", sep= "\t")
olympic_data

    Game  Year  Winmen  Winwomen
0      1  1948   10.30     11.90
1      2  1952   10.40     11.50
2      3  1956   10.50     11.50
3      4  1960   10.20     11.00
4      5  1964   10.00     11.40
5      6  1968    9.95     11.08
6      7  1972   10.14     11.07
7      8  1976   10.06     11.08
8      9  1980   10.25     11.06
9     10  1984    9.99     10.97
10    11  1988    9.92     10.54
11    12  1992    9.96     10.82
12    13  1996    9.84     10.94
13    14  2000    9.87     10.75
14    15  2004    9.85     10.93