# Week 2: Multiple Regression

## Training Exercise 2.1

### Questions:

**Data**  

TBD

In [1]:
import pandas as pd

In [4]:
import os
os.getcwd()

'/Users/ouj070/Documents/Github_Repo_MAC/DheerajAgarwal/Econometrics/W2'

In [9]:
file_location="./data/TrainExer21.xls"

TrainExer1 = pd.read_excel(file_location)
TrainExer1.head()

   Observation  Wage   LogWage  Female  Age  Educ  Parttime
0            1    66  4.189655       0   49     1         1
1            2    34  3.526361       1   42     1         1
2            3    70  4.248495       1   42     1         1
3            4    47  3.850148       0   38     1         0
4            5   107  4.672829       1   54     1         1